<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>
</head>
<body>
<div th:each="subject : ${subjects}">
    <h3>
        <a th:text="${subject.getNameEN()}+' '">en</a>

        <a th:text="','+ ${subject.getNameRU()}">ru</a>

        <form th:method="DELETE" th:action="@{/admin/{id}(id=${subject.getId})} " >
            <input type = "submit" value="Delete">

        </form>
    </h3>
</div>
<h2>
    <a href="/admin/addSubject">add subject</a>
    </br>
    <a href="/">back to main page</a>
</h2>


</body>
</html>