<!DOCTYPE html>

<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>createSubject</title>
    <th:block th:replace="parts/bootstrap.html"></th:block>
    <th:block th:replace="parts/springBootstrap.html"></th:block>
    <th:block th:replace="parts/language.html"></th:block>
</head>
<body>
<div>
<form th:class="form-signin" th:method="POST"
      th:action="@{/admin/addSubject}"  th:object="${subjectFrom}">

    <label th:for="nameEN" th:text="#{subjects.nameEN}"></label>
    <input th:type="text" class="form-control" th:field="*{nameEN}" id="nameEN"/>
    <div style="color:red" th:if="${#fields.hasErrors('nameEN')}" th:text="#{subjects.valid}"></div>

    <div style="color:blue"
         th:if="${SubjectIsReserved}"
         th:text="#{subjects.exception}">
    </div>


    <label th:for="nameRU" th:text="#{subjects.nameRU}"></label>
    <input th:type="text" class="form-control" th:field="*{nameRU}" id="nameRU"/>
    <div style="color:red" th:if="${#fields.hasErrors('nameRU')}" th:text="#{subjects.valid}"></div>

    <br/>

    <button class="btn btn-lg btn-primary btn-block"
            th:type="submit"
            th:text="#{common.create}"></button>
</form>
<div>
<a class="btn btn-primary"
   th:href="@{/admin/subjects}"
   th:text="#{subjects.back}"></a>
</div>
</div>
</body>
</html>