<!DOCTYPE html>

<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>createSubject</title>
    <div th:replace="parts/bootstrap.html"></div>

    <div th:replace="parts/language.html"></div>
</head>
<body>
<form th:method="POST" th:action="@{/admin/addSubject}"  th:object="${subjectFrom}">

    <label for="nameEN"> enter nameEN</label>
    <input type="text" th:field="*{nameEN}" id="nameEN"/>
    <div style="color:red" th:if="${#fields.hasErrors('nameEN')}" th:errors="*{nameEN}">name error</div>

    <div style="color:blue"
         th:if="${SubjectIsReserved}"
         th:text="'такой предмет уже существует'">
    </div>


    <label for="nameRU"> enter nameRU</label>
    <input type="text" th:field="*{nameRU}" id="nameRU"/>
    <div style="color:red" th:if="${#fields.hasErrors('nameRU')}" th:errors="*{nameRU}">name error</div>

    <br/>
    <input type="submit" value="create">
</form>
<div>
<a th:href="@{/admin/subjects}"  th:text="'back to page subjects'"></a>
</div>
</body>
</html>