<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Faculties</title>

    <th:block  th:replace="parts/bootstrap.html"></th:block>

    <th:block th:replace="parts/header.html"></th:block>

</head>
<body>

<div class="container" >
    <div >
        <h5>
            <a th:if="${order.equals('asc')}" th:text="#{faculties.sort} + ' ↑'"></a>
            <a th:if="${order.equals('desc')}" th:text="#{faculties.sort} + ' ↓'"></a>
        </h5>
        <ul >
            <li >
                <a class="btn btn-secondary"
                   th:if="${order.equals('asc')}"
                   th:href="@{'/faculties?sort=name&order=desc'}"
                   th:text="#{faculties.sortByName}">
                </a>
                <a class="btn btn-secondary"
                   th:if="${order.equals('desc')}"
                   th:href="@{'/faculties?sort=name&order=asc'}"
                   th:text="#{faculties.sortByName}">
                </a>
            </li>
            <li>
                <a class="btn btn-secondary"
                   th:if="${order.equals('asc')}"
                   th:href="@{'/faculties?sort=generalPlaces&order=desc'}"
                   th:text="#{faculties.sortByGeneralPlaces}">
                </a>
                <a class="btn btn-secondary"
                   th:if="${order.equals('desc')}"
                   th:href="@{'/faculties?sort=generalPlaces&order=asc'}"
                   th:text="#{faculties.sortByGeneralPlaces}">
                </a>
            </li>
            <li>
                <a class="btn btn-secondary"
                   th:if="${order.equals('asc')}"
                   th:href="@{'/faculties?sort=budgetPlaces&order=desc'}"
                   th:text="#{faculties.sortByBudgetPlaces}">
                </a>

                <a class="btn btn-secondary"
                   th:if="${order.equals('desc')}"
                   th:href="@{'/faculties?sort=budgetPlaces&order=asc'}"
                   th:text="#{faculties.sortByBudgetPlaces}">
                </a>
            </li>
        </ul>
        <hr>
    </div>
    <div class="row row-cols-4 row-cols-md-4 g-4">
        <div th:each="faculty : ${faculties}">
            <div class="card h-100" style="background-color: cornsilk">
                <h3>
                <div class="card-header">
                        <p th:if="${#locale.getLanguage().equals('en')}" class="card-title"
                           th:text="${faculty.getName}">
                        </p>
                        <p th:if="${#locale.getLanguage().equals('ru')}" class="card-title"
                           th:text="${faculty.getNameRU()}">
                        </p>
                </div>
                </h3>
                <div class="card-body">
                    <h4>
                        <p th:text="#{faculties.budgetPlaces} +': '+ ${faculty.getBudgetPlaces()}"></p>
                        <p th:text="#{faculties.generalPlaces} +': '+ ${faculty.getGeneralPlaces()}"></p>
                        <p th:text="#{faculties.requiredSubjects}+': '"></p>
                    </h4>
                    <div th:each="subject : ${faculty.getSubjects()}">
                        <h5>
                            <a th:if="${#locale.getLanguage().equals('en')}" style="color:green"
                               th:text="${subject.getNameEN()}">
                            </a>
                            <a th:if="${#locale.getLanguage().equals('ru')}" style="color:green"
                               th:text="${subject.getNameRU()}">
                            </a>
                        </h5>

                    </div>
                    <div sec:authorize="hasAuthority('USER')">
                        <div th:if="${!faculty.getRecruitment()}">
                            <a class="btn btn-secondary"
                               th:href="@{'/user/statement?facultyId='+ ${faculty.getId()}}"
                               th:text="#{faculties.registration}">
<!--                                <input type="button" th:value="#{faculties.registration}">-->

                            </a>
                        </div>
                    </div>

                    <div sec:authorize="hasAuthority('ADMIN')">
                        <form th:method="DELETE"
                              th:action="@{/admin/faculty/{id}(id=${faculty.getId})}">
                            <button class="btn btn-secondary"
                                    th:type="submit"
                                    th:text="#{common.delete}">
                            </button>
                        </form>
                        <form>
                            <a class="btn btn-secondary"
                               th:href="@{'/admin/updateFaculty?facultyId='+${faculty.getId}}"
                               th:text="#{common.edit}">
                                <!--                            <input type="button" th:value="#{common.edit}">-->
                            </a>
                        </form>
                        <form>
                            <a class="btn btn-secondary"
                               sec:authorize="hasAuthority('ADMIN')"
                               th:href="@{'/admin/statements?facultyId='+${faculty.getId}}"
                               th:text="#{faculties.statements}"></a>
                            <br/>
                        </form>

                        <form th:method="PATCH"
                              th:action="@{/admin/recruitment}">
                            <input th:type="hidden"
                                   th:name="facultyId"
                                   th:value="${faculty.getId()}">
                            <input th:type="hidden"
                                   th:name="facultyOpen"
                                   th:value="${faculty.getRecruitment()}">


                            <button class="btn btn-success"
                                    th:type="submit"
                                    th:if="${faculty.getRecruitment()} "
                                    th:text="#{faculties.open}">

                                <!--                            <span class="btn btn-success"-->
                                <!--                                  th:text="#{faculties.open}">-->
                                <!--                            </span>-->
                            </button>

                            <button class="btn btn-danger"
                                    th:type="submit"
                                    th:if="${!faculty.getRecruitment()}"
                                    th:text="#{faculties.close}">
                                <!--                            <span class="btn btn-danger"-->
                                <!--                                    style="color:red"-->
                                <!--                                  th:text="#{faculties.close}">-->
                                <!--                            </span>-->
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>

        <a class="btn btn-primary"
           sec:authorize="hasAuthority('ADMIN')"
           th:href="@{/admin/addFaculty}"
           th:text="#{faculties.addFaculty}"></a>
        <br/>


        <a class="btn btn-primary"
           th:href="@{/}"
           th:text="#{common.back}"></a>
    </h2>
</div>
</body>
</html>