<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Faculties</title>

    <div th:replace="parts/bootstrap.html"></div>

    <div th:replace="parts/language.html"></div>

    <div sec:authorize="!isAuthenticated()">
        <a  th:href="@{/login}" th:text="#{main.login}"></a>
    </div>
</head>
<body>
<div class="container">
    <div>
        <h5>
            <a th:if="${order.equals('asc')}" th:text="#{faculties.sort} + ' ↑'"></a>
            <a th:if="${order.equals('desc')}" th:text="#{faculties.sort} + ' ↓'"></a>
        </h5>
        <ul>
            <li>
                <a th:if="${order.equals('asc')}"
                   th:href="@{'/faculties?sort=name&order=desc'}">
                    <label>
                        <input style="color:green"
                               th:type="button"
                               th:value="#{faculties.sortByName}">
                    </label>
                </a>
                <a th:if="${order.equals('desc')}"
                   th:href="@{'/faculties?sort=name&order=asc'}">
                    <label>
                        <input style="color:blue"
                               th:type="button"
                               th:value="#{faculties.sortByName}">
                    </label>
                </a>
            </li>
            <li>
                <a th:if="${order.equals('asc')}"
                   th:href="@{'/faculties?sort=generalPlaces&order=desc'}">
                    <label>
                        <input style="color:green"
                               th:type="button"
                               th:value="#{faculties.sortByGeneralPlaces}">
                    </label>
                </a>
                <a th:if="${order.equals('desc')}"
                   th:href="@{'/faculties?sort=generalPlaces&order=asc'}">
                    <label>
                        <input style="color:blue"
                               th:type="button"
                               th:value="#{faculties.sortByGeneralPlaces}">
                    </label>
                </a>
            </li>
            <li>
                <a th:if="${order.equals('asc')}"
                   th:href="@{'/faculties?sort=budgetPlaces&order=desc'}">
                    <label>
                        <input style="color:green"
                               th:type="button"
                               th:value="#{faculties.sortByBudgetPlaces}">
                    </label>

                </a>

                <a th:if="${order.equals('desc')}"
                   th:href="@{'/faculties?sort=budgetPlaces&order=asc'}">
                    <label>
                        <input style="color:blue"
                               th:type="button"
                               th:value="#{faculties.sortByBudgetPlaces}">
                    </label>
                </a>
            </li>
        </ul>
        <hr>
    </div>
    <div class="row row-cols-4 row-cols-md-3 g-4">
        <div th:each="faculty : ${faculties}">
            <div class="card h-100">

                <p th:text="#{faculties.name} +': ' + ${faculty.getName}"></p>
                <p th:text="#{faculties.budgetPlaces} +': '+ ${faculty.getBudgetPlaces()}"></p>
                <p th:text="#{faculties.generalPlaces} +': '+ ${faculty.getGeneralPlaces()}"></p>
                <p th:text="#{faculties.requiredSubjects}+': '"></p>


                <div th:each="subject : ${faculty.getSubjects()}">

                    <a style="color:green" th:text="${subject.getNameEN()}+' '">en</a>


                </div>
                <div sec:authorize="hasAuthority('USER')">
                    <div th:if="${!faculty.getRecruitment()}">
                        <a th:href="@{'/user/statement?facultyId='+ ${faculty.getId()}}">
                            <input type="button" th:value="#{faculties.registration}">

                        </a>
                    </div>
                </div>
                <div sec:authorize="hasAuthority('ADMIN')">
                    <form th:method="DELETE"
                          th:action="@{/admin/faculty/{id}(id=${faculty.getId})} ">
                        <input type="submit" th:value="#{common.delete}">
                    </form>
                    <form>

                        <a th:href="@{'/admin/updateFaculty?facultyId='+${faculty.getId}}">
                            <input type="button" th:value="#{common.edit}">
                        </a>
                    </form>
                    <form>
                        <a sec:authorize="hasAuthority('ADMIN')"
                           th:href="@{'/admin/statements?facultyId='+${faculty.getId}}"
                           th:text="#{faculties.statements}"></a>
                        <br/>
                    </form>

                    <form th:method="PATCH"
                          th:action="@{/admin/recruitment}">
                        <input th:type="hidden"
                               th:name="facultyId"
                               th:value="${faculty.getId()}">
                        <input th:type="hidden"
                               th:name="facultyOpen"
                               th:value="${faculty.getRecruitment()}">


                        <button th:type="submit"
                                th:if="${faculty.getRecruitment()} ">

                            <span style="color:green"
                                  th:text="#{faculties.open}">
                            </span>
                        </button>

                        <button th:type="submit"
                                th:if="${!faculty.getRecruitment()}">

                            <span style="color:red"
                                  th:text="#{faculties.close}">
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h2>

        <a sec:authorize="hasAuthority('ADMIN')"
           th:href="@{/admin/addFaculty}"
           th:text="#{faculties.addFaculty}"></a>
        <br/>


        <a th:href="@{/}" th:text="#{common.back}"></a>
    </h2>
</div>
</body>
</html>