<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Statements</title>
    <th:block th:replace="parts/bootstrap.html"></th:block>

</head>
<body>

<div class="container">
    <h1>
        <a th:if="${#locale.getLanguage().equals('en')}"
           th:text="${faculty.getName()}"></a>
        <a th:if="${#locale.getLanguage().equals('ru')}"
           th:text="${faculty.getNameRU()}"></a>

    </h1>
    <table class="table table-bordered">
        <tr>
            <th>
                <span th:text="#{statements.id}"></span>
            </th>
            <th>
                <span th:text="#{statements.username}"></span>
            </th>
            <th>
                <span th:text="#{statements.firstname}"></span>
            </th>
            <th>
                <span th:text="#{statements.surname}"></span>
            </th>
            <th>
                <a th:if="${order.equals('desc')}"
                   th:href="@{'/admin/statements?facultyId='+ ${faculty.id}
                +'&page='+${page}+'&sort=gradePointAverage&order=asc'}"
                   th:text="#{statements.gradePointAverage}"></a>

                <a th:if="${order.equals('asc')}"
                   th:href="@{'/admin/statements?facultyId='+ ${faculty.id}
                +'&page='+${page}+'&sort=gradePointAverage&order=desc'}"
                   th:text="#{statements.gradePointAverage}"></a>
            </th>
            <th>
                <a th:if="${order.equals('desc')}"
                   th:href="@{'/admin/statements?facultyId='+ ${faculty.id}
                    +'&page='+${page}+'&sort=position&order=asc'}"
                   th:text="#{statements.position}"></a>

                <a th:if="${order.equals('asc')}"
                        th:href="@{'/admin/statements?facultyId='+ ${faculty.id}
                +'&page='+${page}+'&sort=position&order=desc'}"
                   th:text="#{statements.position}"></a>
            </th>

        </tr>

        <tbody th:each="statement : ${statements}">

        <th th:text="${statement.id}"></th>
        <td th:text="${statement.userId.getUsername()}"></td>
        <td th:text="${statement.userId.getFirstname()}"></td>
        <td th:text="${statement.userId.getSurname()}"></td>
        <td th:text="${statement.getGradePointAverage()}"></td>
        <td th:text="${statement.position.positionType.name()}"></td>

        </tbody>
        <h2>

            <a class="btn btn-primary"
               th:href="@{/faculties}"
               th:text="#{faculties.back}"></a>
        </h2>
    </table>
</div>

<nav aria-label="Page navigation example" th:if="${pages > 1}">
    <ul class="pagination justify-content-center">

        <th:block th:each="i: ${#numbers.sequence(1, pages)}">

            <li class="page-item myselect active" th:value="${i}" th:if="${#strings.equals(i, page)}">
                <a class="page-link"
                   th:href="@{'/admin/statements?facultyId='+ ${faculty.id}
                    +'&page='+${i}+'&sort='+${sort}+'&order='+${order}}"
                   th:text="${i}"></a>
            </li>
            <li class="page-item myselect" th:value="${i}" th:if="${!#strings.equals(i, page)}">
                <a class="page-link"
                   th:href="@{'/admin/statements?facultyId='+ ${faculty.id}
                   +'&page='+${i} +'&sort='+${sort}+'&order='+${order}}"
                   th:text="${i}"></a>
            </li>
        </th:block>

    </ul>
</nav>
</body>
</html>