<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>
    <div th:replace="parts/bootstrap.html"></div>

    <div th:replace="parts/language.html"></div>

</head>
<body>
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>
                <span th:text="#{subjects.id}"></span>
            </th>
            <th>
                <span th:text="#{subjects.nameEN}"></span>
            </th>
            <th>
                <span th:text="#{subjects.nameRU}"></span>
            </th>
            <th>
                <span th:text="#{common.action}"></span>
            </th>
        </tr>

<tbody th:each="subject : ${subjects}">

        <th th:text="${subject.id}"></th>
        <td th:text="${subject.getNameEN()}"></td>
        <td th:text="${subject.getNameRU()}"></td>
        <td>
        <form th:method="DELETE"
              th:action="@{/admin/subject/{id}(id=${subject.getId})} " >
            <input type = "submit" th:value="#{common.delete}">
        </form>
        </td>
</tbody>
<h2>
    <a th:href="@{/admin/addSubject}" th:text="#{subjects.addSubject}"></a>
    </br>
    <a th:href="@{/}" th:text="#{common.back}" ></a>
</h2>
</table>
</div>


<nav aria-label="Page navigation example" th:if="${pages > 1}">
    <ul class="pagination justify-content-center">

        <th:block th:each="i: ${#numbers.sequence(1, pages)}">

            <li class="page-item myselect active" th:value="${i}" th:if="${#strings.equals(i, page)}">
                <a class="page-link" th:href="@{'/admin/subjects?page='+ ${i}}"  th:text="${i}"></a>
            </li>
            <li class="page-item myselect" th:value="${i}" th:if="${!#strings.equals(i, page)}">
                <a class="page-link"th:href="@{'/admin/subjects?page='+ ${i}}" th:text="${i}"></a>
            </li>
        </th:block>

    </ul>
</nav>
</body>
</html>