<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AllUsers</title>
</head>
<body>
<div th:each="user : ${users}">
    <h3>
        <a th:text="${user.getUsername()}+' '"></a>

        <a th:text="'('+ ${user.getEmail()} + ')'"></a>

        <a th:text="'(blocked='+ ${user.getBlocked()} + ')'"></a>

        <form th:method="PATCH" th:action="@{/admin/user}">

            <input th:type="hidden" th:name="userId" th:value="${user.id}">
            <input th:type="hidden" th:name="userBlocked" th:value="${user.blocked}">

            <button th:type="submit" th:if="${user.blocked}">
                <span style="color:green" th:text="'unblock'"></span>
            </button>

            <button  th:type="submit" th:if="${!user.blocked}">
                <span style="color:red" th:text="'block'"></span>
            </button>

        </form>
    </h3>
</div>
<a href="/">back to main page</a>
</body>
</html>