<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>UserPage</h1>
<div>
    <h3>
        <span th:text="${userProfile.getUsername}"></span>
    </h3>
</div>
<div>
    <h3>
        <span th:text="${userProfile.getEmail}"></span>
    </h3>
</div>
<div th:each="statement :${statements}">
    <h3>
        <a th:text="'Faculty : '+ ${statement.getFacultyId().getName()}"></a>
        <br/>
        <a th:text="'GradePointAverage : '+${statement.getGradePointAverage()}"></a>
        <br/>
        <a th:text="'Position : '+${statement.getPosition_id().getPositionType().name()}"></a>
    </h3>
</div>

<a th:href="@{/}" th:text="'back to main page'"></a>

</body>
</html>