<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <th:block th:replace="parts/bootstrap.html"></th:block>

</head>
<body>
<div th:class="container">
<h1>UserPage</h1>
    <h3>
        <a th:text="#{profile.login}"></a>
        <a th:text="${userProfile.getUsername}"></a>
        <br>
        <a th:text="#{profile.email}"></a>
        <a th:text="${userProfile.getEmail}"></a>
        <br>
        <a th:text="#{profile.firstname}"></a>
        <a th:text="${userProfile.getFirstname()}"></a>
        <br>
        <a th:text="#{profile.surname}"></a>
        <a th:text="${userProfile.getSurname()}"></a>
        <br>
        <a th:text="#{profile.city}"></a>
        <a th:text="${userProfile.getCity()}"></a>
        <br>
        <a th:text="#{profile.region}"></a>
        <a th:text="${userProfile.getRegion()}"></a>
        <br>
        <a th:text="#{profile.institution}"></a>
        <a th:text="${userProfile.getInstitution()}"></a>
    </h3>
<div th:each="statement :${statements}">


    <h3>
        <div class="card" style="background-color: cornsilk">
        <a th:text="'Faculty : '+ ${statement.getFacultyId().getName()}"></a>
        <a th:text="'Faculty : '+ ${statement.getFacultyId().getName()}"></a>
        <br/>
        <a th:text="'GradePointAverage : '+${statement.getGradePointAverage()}"></a>
        <br/>
        <a th:text="'Position : '+${statement.getPosition().getPositionType().name()}"></a>

            <form th:method="DELETE"
                  th:action="@{/statement/{id}(id=${statement.getId})}">
                <button class="btn btn-secondary"
                        th:type="submit"
                        th:text="#{common.delete}">
                </button>
            </form>
</div>
    </h3>
</div>

<a class="btn btn-primary" th:href="@{/}" th:text="#{common.back}"></a>
</div>
</body>
</html>