<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <h1 >Selection Committee</h1>
</head>
<body>
<h2><a href="/greeting">greeting</a></h2>
<h2><a href="/registration/form">registration</a></h2>
<h2><a href="/login">login</a></h2>
<h2><a href="/logout">logout</a></h2>
<h3><a href="/admin">checkAdminPage</a></h3>
<h3><a href="/user">checkUserPage</a></h3>
<li sec:authorize="hasAuthority('ADMIN')">
    <a th:href="@{/admin/users}" class="link-dark" th:text="AllUsersTH">
    </a>
</li>
<li sec:authorize="hasAuthority('ADMIN')">
    <a th:href="@{/admin/subjects}" class="link-dark" th:text="subjectsTH">
    </a>
</li>
<li sec:authorize="hasAuthority('ADMIN')">
<h2><a href="/admin/users">all users def</a></h2>
<h2><a href="/admin/subjects">all subjects def</a></h2>
</li>
</body>
</html>