<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <h1>Selection Committee</h1>
</head>
<body>
<!--Стартовая страница -->
<h2>
    <a sec:authorize="hasAuthority('ADMIN')"
       sec:authentication="name"
       style="color:green"
       th:href="@{'/admin?userId=' + ${#authentication.getPrincipal().getId()}}">
    </a>

    <a sec:authorize="hasAuthority('USER')"
       sec:authentication="name"
       style="color:green"
       th:href="@{'/user?userId=' + ${#authentication.getPrincipal().getId()}}">
    </a>
</h2>
<h2><a sec:authorize="isAuthenticated()" th:href="@{/greeting}" th:text="'greeting'"></a></h2>
<h2><a sec:authorize="!isAuthenticated()" th:href="@{/registration/form}" th:text="'registration'"></a></h2>
<h2><a sec:authorize="!isAuthenticated()" th:href="@{/login}" th:text="'login'"></a></h2>
<h2><a sec:authorize="isAuthenticated()" th:href="@{/logout}" th:text="'logout'"></a></h2>
<h2>
    <li sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/admin/users}" class="link-dark" th:text="Users">
        </a>
    </li>
    </br>
    <li sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/admin/subjects}" class="link-dark" th:text="Subjects">
        </a>
    </li>
    </br>
    <li sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/admin/faculties}" class="link-dark" th:text="Faculties">
        </a>
    </li>

    <li sec:authorize="hasAuthority('USER')">
        <a th:href="@{/user/faculties}" class="link-dark" th:text="Faculties">
        </a>
    </li>
</h2>

</body>
</html>